<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>
    <body>
        <div class="container">
            <div >
                <h1 class = "header_text">Привет Аня Рафальская! Поехали в отпуск?</h1>
            </div>
            <div class="gif_container">
                <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcDdtZ2JiZDR0a3lvMWF4OG8yc3p6Ymdvd3g2d245amdveDhyYmx6eCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/cLS1cfxvGOPVpf9g3y/giphy.gif" alt="Cute animated illustration">
            </div>
            <div class = "buttons">
                <button class="btn" id = "yesButton" onclick="nextPage()">Да</button>
                <button class="btn" id="noButton" onmouseover="moveButton()" onclick="moveButton()">Нет</button>
                <script>
                    function nextPage() {
                        window.location.href = "yes";
                    }

                    function moveButton() {
                        var x = Math.random() * (window.innerWidth - document.getElementById('noButton').offsetWidth) - 85;
                        var y = Math.random() * (window.innerHeight - document.getElementById('noButton').offsetHeight) - 48;
                        document.getElementById('noButton').style.left = `${x}px`;
                        document.getElementById('noButton').style.top = `${y}px`;
                    }
                </script>
            </div>
        </div>

    </body>
</html>