<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='yes.css') }}">

    </head>
    <body>
        <div class="container">
            <div >
                <h1 class = "header_text">Ураааааа!!!</h1>
            </div>
            <div class="gif_container">
                <img src="https://media0.giphy.com/media/T86i6yDyOYz7J6dPhf/giphy.gif" alt="Cute animated illustration">
            </div>
        </div>

    </body>
</html>